<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="menu">
      <a href="{% url 'home' %}"><p>home</p></a>
    </div>
    <div id="header">
      <p>전체 목록</p>
      <p>천천히 둘러보세요</p>
    </div>
    <div id="popular_list">
      <ul>
        {% for recipe in recipes %}
        <button>
          <a href="{% url 'detail' recipe.pk %}">{{ recipe.title }}</a>
        </button>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
