<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="menu">
      <a href="{% url 'home' %}"><p>home</p></a>
    </div>
    <div id="header">
      <p>키워드 검색</p>
      <p>어떤 맛을 원해?</p>
    </div>
    <div id="tag_bar">
      <a href="{% url 'goso' %}"><button>고소</button></a>
      <a href="{% url 'sweet' %}"><button>달콤</button></a>
      <a href="{% url 'spicy' %}"><button>매콤</button></a>
      <a href="{% url 'sour' %}"><button>새콤</button></a>
      <a href="{% url 'salty' %}"><button>짧조름</button></a>
    </div>
    <div id="popular_list">
      <ul>
        {% for recipe in recipes %} {% if recipe.category.slug == 'spicy' %}
        <button>
          <a href="{% url 'detail' recipe.pk %}">{{ recipe.title }}</a>
        </button>
        {% endif %} {% endfor %}
      </ul>
    </div>
  </body>
</html>
